<div class="markdown">
        <p>Se dispone de una aplicación web donde las contraseñas de los clientes están almacenadas hasheadas en MD5 y sin saltear.</p>

        <p>Como parte de un proceso de mejora de la seguridad se quiere modificar el almacenamiento de contraseñas para guardarlas resumidas con SHA256 y salteadas.</p>
        
        <p>Con el fin de evitar resetear la contraseña a todos los usuarios; a nuestro equipo de desarrollo se nos ha pedido provisionar automáticamente aquellas contraseñas que actualmente seamos capaces de “revertir” para el máximo número de usuarios posibles.</p>
        
        <p>La definición exacta del nuevo almacenamiento de contraseñas se encuentra disponible en el siguiente fichero:</p>
        <p>https://github.com/jaesga/master-ciberseguridad-web/blob/master/PASSWORDS.md</p>
        <p>El fichero adjunto [passwords.txt] contiene un extracto de los hashes de contraseñas actuales de los usuarios en MD5.</p>
        <p>Se debe generar:</p>
        <ul>
        <li>>Un fichero [plain.txt] que contenga las contraseñas en plano que se hayan podido revertir (dejando líneas en blanco, para aquellas que no)</li>
        <li>>Un fichero [new_passwords.txt] que contenga los hashes de las nuevas contraseñas ya resumidas y hasheadas (dejando nuevamente líneas en blanco, para aquellas que no se hayan podido calcular)</li>
        <li>>El programa o script utilizado (si existe) para automatizar el proceso de conversión de contraseñas en MD5 y la generación de los ficheros solicitados</li>
        </ul>
</div>