<div class="markdown">
    <ul>
        <li><a target="_blank" href="https://www.owasp.org/index.php/Top_10-2017_A8-Insecure_Deserialization">https://www.owasp.org/index.php/Top_10-2017_A8-Insecure_Deserialization</a></li>
    </ul>
</div>