<ul class="markdown">
    <li><a target="_blank" href="https://github.com/Tusabras/nodejs-ctf/blob/master/public/assets/files/WinMD5.exe">https://github.com/Tusabras/nodejs-ctf/blob/master/public/assets/files/WinMD5.exe</a></li>
    <li><a target="_blank" href="https://github.com/Tusabras/nodejs-ctf/blob/master/public/assets/files/WinMD5_2.exe">https://github.com/Tusabras/nodejs-ctf/blob/master/public/assets/files/WinMD5_2.exe</a></li>
</ul>