<div class='markdown'>
    <ul>
        <li><a href="/app/usersearch">SQL Injection: User Search </a></li>
        <li><a href="/app/ping">Command Injection: Network Connectivity Test</a></li>
    </ul>
</div>