


<div class='row'>
    <div class="col-md-12">
        <h3>Import your documents</h3>
    </div>
    <div class='col-md-12'>
        <% include ../../common/infoBoxes %>

        <div>
            <form encType="multipart/form-data" method="post" action="/app/bulkproducts<% if(output.legacy){%>output.legacy<%}%>">
                <div class="input-group mb-3">
                    <div class="products-file">
                        <input type="file" name="products" class="file-input" id="inputfile" <% if(!output.legacy){ %> accept=".xml" <% } %>>
                        <br>
                        <input class="button" type="submit" name="submit" value="Upload">
                    </div>
                </div>
            </form>
        </div>

        <div><br>
            <!-- Handle output.legacy endpoit /app/bulkproducts?output.legacy=true -->
            <% if (!output.legacy) { %>
            <h3>Sample XML</h3>
<pre><xmp>
<products>
    <product>
        <name>Xbox One</name>
        <code>23</code>
        <tags>gaming console</tags>
        <description>Gaming console by Microsoft</description>
    </product>
    <product>
        <name>Playstation 4</name>
        <code>26</code>
        <tags>gaming console</tags>
        <description>Gaming console by Sony</description>
    </product>
</products>
</xmp></pre>
            <% } else { %>
                <pre style="white-space: pre-wrap;">[{"name":"Xbox 360","code":"15","tags":"gaming console","description":"Microsoft's flagship gaming console"},{"name":"Playstation 3","code":"17","tags":"gaming console","description":"Sony's flagshipgaming console"}]</pre>
            <%} %>
        </div>
        </div></div>

