
<table class='table'>
    <tr>
        <th style="text-align: center;">Date</th>
        <th>Entry</th>
    </tr>
    <tr>
        <td style="text-align: center;"><p>06/12/2018</p></td>
        <td><p>Damn, I need money as fast as possible... Maybe I should get some secret docs and sell the info.</p></td>
    </tr>
    <tr>
        <td style="text-align: center;"><p>13/01/2019</p></td>
        <td><p>A guy asked me to do some fake docs, and make Maria sign them somehow...</p></td>
    </tr>
    <tr>
        <td style="text-align: center;"><p>19/01/2019</p></td>
        <td><p>Shit John discovered me, maybe there is some way to make him remain silent...</p></td>
    </tr>
</table>
