<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/head %>
</head>
<body>
    <% type= 'learn'; %>
    <% include common/header %>
    
    <div class='container' style='min-height: 450px'><div class='row'><div class='col-md-12'>

        <div class='row'>            
            <div class='col-md-12' style='padding: 40px'>
                <% include common/infoBoxes %>               
                <h3>Welcome to <strong>Attack My Admin</strong></h3>
                <p><i>Attack My Admin</i> implements a set of intentionally vulnerable functions in NodeJS for learning purpose.
                Start by selecting which of the following subjects you want to practise:</p>
                <br />
                <br />

                <div class='col-md-6' style="text-align: center;">
                    <a href='/learn/hacking-web/vulnerability/info'><div class="blog">HACKING WEB</div></a>
                </div>
                <div class='col-md-6' style="text-align: center;">
                    <a href='/learn/cryptography/vulnerability/info'><div class="blog">CRYPTOGRAPHY</div></a>
                </div>
            </div>
        </div>

    </div></div></div>
</body>
</html>
