body {
    position: relative; /* For scrollyspy */
    padding-top: 40px; /* Account for fixed navbar */
    background-color: #fafafa;
}
footer {
    position: absolute;
    bottom: 0px;
}
a {
    font-family: monospace;
}
.loginTitle {
    text-align: center;
    font-family: monospace;
}

.retroFamily {
    font-family: monospace;
}

.logo {
    font-size: 24px;
    /* background-color: red; */
    font-family: monospace;
}

.blog {
    border-radius:5px;padding: 60px;background-color: #292e3d;text-align:center;color:#535a6e;font-size: 48px;
}
.blog:hover {
    color: #fafafa;
}
/* .logo:hover {
    color: #004697 !important;
    background-color: #fafafa !important;
    border-radius: 100px;
    margin: 10px;
} */
.borderRight {
    border-right: 1px solid #545b6c;
}
.borderLeft {
    border-left: 1px solid #545b6c;
}
.ml50 {
    margin-left: 50px;
}

.btn-primary {
    background-color: #2a2f3c;
    border-color: #2a2f3c;
    font-family: monospace;
    width: 100%;
    margin-top: 30px;
    text-transform: uppercase;
}
.btn-primary:hover {
    background-color: #545b6c;
    border-color: #545b6c;
}

.form-group {
    font-family: monospace;
}


.pt20 {
    padding-top: 20px!important;
}
.plr20 {
    margin: 0 20px!important;
}
.list-group-item {
    border: 0px;
    /* border-bottom: 2px solid #004697; */
    background-color: #545b6c;
}

.list-group-item:hover {
    background-color: #bdc1cc !important;
}

.sidebar {
    position: relative;
    background: #2a2f3c;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.primaryText {
    color: #fff;
    font-family: monospace;
    padding: 10px;
    text-align: center;
}

.secondaryText {
    font-family: monospace;
    color: #fff;
}

.primaryColor {
    background-color: #262a36;
}

.pull-left {
    float: left;
}