<% if (output && output.searchTerm) { %>
    <p class="bg-success">
        Listing products with <strong>search query: </strong> <%- output.searchTerm %>
        &nbsp; &nbsp;
        <small><a href="/ctf/home">
            <i class="fa fa-remove"></i> Clear
        </a></small>
    </p>
<% } %>