<div class="markdown">
    <ul>
        <li><a target="_blank" href="https://www.owasp.org/index.php/Top_10_2013-A10-Unvalidated_Redirects_and_Forwards">https://www.owasp.org/index.php/Top\_10\_2013-A10-Unvalidated\_Redirects\_and\_Forwards</a></li>
    </ul>
</div>