<div class="markdown">
        <strong>T1. In this exercise we will practice how to encrypt a text with the AES algorithm, the current symmetric encryption standard.</strong>
        <ol>
            <li><p>The exercise consists of encrypting the message "a secret message" with the password '12345678901234567890123456789012'. Use the CBC encryption mode. Decipher the cryptogram and check that you get the original text.</p></li>
            <li><p>In this section we will see the difference between the different encryption modes. To do this, the previous exercise will be repeated, using the encryption modes OFB, CFB, ECB. Compare the cryptogram obtained in each of the cases.</p></li>
        </ol>
        <p>If you run the program several times, does the result of the ciphertext always remain the same or vary? Why is this phenomenon?</p>

        <br /><br />

        <strong>T2. In this exercise we are going to program a function to calculate the hash of a file. This can be used to check the integrity of a downloaded file.</strong>

        <p>Using the MD5 hash function of the "cryptography" library, program a function that calculates the MD5 hash of the files "WinMD5.exe" and "WinMD5_2.exe".</p>

        <p>What are your hashes? Considering that the hash of the original file is 944a1e869969dd8a4b64ca5e6ebc209a, which of the files is correct?</p>
</div>