<div class="markdown">
    <ul>
        <li><a target="_blank" href="https://www.owasp.org/index.php/Top_10-2017_A10-Insufficient_Logging%26Monitoring">https://www.owasp.org/index.php/Top_10-2017_A10-Insufficient_Logging%26Monitoring</a></li>
    </ul>
</div>