<div class='markdown'>
    <ul>
        <li><a target="_blank" href="https://www.owasp.org/index.php/Top_10-2017_A7-Cross-Site_Scripting_(XSS)">https://www.owasp.org/index.php/Top_10-2017_A7-Cross-Site_Scripting_(XSS)</a></li>
        <li><a target="_blank" href="https://www.owasp.org/index.php/Category:OWASP_Top_Ten_2017_Project">https://www.owasp.org/index.php/Category:OWASP_Top_Ten_2017_Project</a></li>
    </ul>
</div>