<div class='markdown'>
    <ul>
        <li><a href="/app/products">Reflected XSS: Search Product</a></li>
        <li><a href="/app/products">Stored XSS: Add/Edit Product</a></li>
    </ul>
    <p><b>Note:</b> Chrome XSS Auditor may block XSS Attacks<b></b></p>
</div>

