<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/head %>
</head>
<body>
    <% needSidebar = (
        path === '/ctf/home' ||
        path === '/ctf/create-new-document' ||
        path === '/ctf/sign-document' ||
        path === '/ctf/upload-document' ||
        path === '/ctf/edit-document' ||
        path === '/ctf/trash') %>
    <% include ../common/header %>
    <div class='container' style='margin-left: 0px; padding-left: 0px;'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='row'>
                    <% if(needSidebar){ %>
                        <% include sidebar %>
                        <div class='col-md-9' style='padding: 40px'>
                            <h3><%=vuln_title%></h3>
                            <%- include(vuln_description) %>
                        </div>
                    <% } else {%> 
                        <div class='col-md-12' style='padding: 80px'>
                            <%- include(vuln_description) %>
                        </div>
                    <% }%> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>
