<div class='col-md-3'>
        <div class='list-group sidebar'>
            <h4 class="primaryText pt20">Capture The Flag</h4>
            <div class="plr20">
                <% for (var vulnKey in vulnerabilities) { %>
                    <% currentPath = "/learn/ctf/"+vulnKey %>
                    <% if(path === currentPath){ %>
                        <a href="/learn/ctf/<%=vulnKey%>" style="background-color: #bdc1cc" class='list-group-item'>
                            <p class="secondaryText"><%=vulnerabilities[vulnKey]%></p>
                        </a>
                    <% } else {%>  
                        <a href="/learn/ctf/<%=vulnKey%>" class='list-group-item'>
                            <p class="secondaryText"><%=vulnerabilities[vulnKey]%></p>
                        </a>
                    <% } %> 
                <% } %>
            </div>
        </div>
    </div>