<li class="borderLeft">
    <% if(needSidebar){ %>
        <a style="color:white" href='/ctf/home'>
            <i class="fa fa-dashboard"></i> Dashboard 
        </a>
    <% } else{%>
        <a href='/ctf/home'>
            <i class="fa fa-dashboard"></i> Dashboard
        </a>
    <% } %>
</li>
<li class="borderLeft">
    <% if(path === '/ctf/shop'){ %>
        <a style="color:white" href='/ctf/shop'>
            <i class="fa fa-shopping-cart"></i> Shopping Cart
        </a>
    <% } else{%>
        <a href='/ctf/shop'>
            <i class="fa fa-shopping-cart"></i> Shopping Cart 
        </a>
    <% } %>
</li>
<li class="borderLeft">
    <% if(path === '/ctf/profile'){ %>
        <a style="color:white" href='/ctf/profile'>
            <i class="fa fa-user"></i> My Profile 
        </a>
    <% } else{%>
        <a href='/ctf/profile'>
            <i class="fa fa-user"></i> My Profile
        </a>
    <% } %>
</li>
<li class="borderLeft borderRight">
    <% if(path === '/ctf/trash'){ %>
        <a style="color:white" href='/ctf/trash'>
            <i class="fa fa-trash"></i> Trash
        </a>
    <% } else{%>
        <a href='/ctf/trash'>
            <i class="fa fa-trash"></i> Trash
        </a>
    <% } %>
</li>