<li class="borderLeft">
    <% if(needSidebar){ %>
        <a style="color:white" href='/ctf/home'>
            <i class="fa fa-home"></i> Home 
        </a>
    <% } else{%>
        <a href='/ctf/home'>
            <i class="fa fa-home"></i> Home
        </a>
    <% } %>
</li>
<li id="admin-header" class="borderLeft">
    <% if(path === '/ctf/shop'){ %>
        <a style="color:white" href='/ctf/documents-to-sign'>
            <i class="fa fa-pencil"></i> Pending docs
        </a>
    <% } else{%>
        <a href='/ctf/documents-to-sign'>
            <i class="fa fa-pencil"></i> Pending docs 
        </a>
    <% } %>
</li>
<li class="borderLeft">
    <% if(path === '/ctf/profile'){ %>
        <a style="color:white" href='/ctf/profile'>
            <i class="fa fa-user"></i> My Profile 
        </a>
    <% } else{%>
        <a href='/ctf/profile'>
            <i class="fa fa-user"></i> My Profile
        </a>
    <% } %>
</li>
<li class="borderLeft">
    <% if(path === '/ctf/diary'){ %>
        <a style="color:white" href='/ctf/diary'>
            <i class="fa fa-book"></i> Diary
        </a>
    <% } else{%>
        <a href='/ctf/diary'>
            <i class="fa fa-book"></i> Diary
        </a>
    <% } %>
</li>
<li class="borderLeft borderRight">
    <% if(path === '/ctf/flags'){ %>
        <a style="color:white" href='/ctf/flags'>
            <i class="fa fa-flag"></i> Flags
        </a>
    <% } else{%>
        <a href='/ctf/flags'>
            <i class="fa fa-flag"></i> Flags
        </a>
    <% } %>
</li>
<li class="borderLeft borderRight">
    <a>
        Current: 
        <% if(-200 < 0){ %>
            <span style="color:coral"><i class="fa fa-dollar"></i> -200</span>
        <% } else { %>
            <span style="color:green"><i class="fa fa-dollar"></i> -200</span>
        <% } %>
    </a>
</li>
<!-- I learned HTML! Here's part 1/3 of the flag: flag{ur_4_real_1nspe -->
<script>
    var isAdmin = <%= admin %>;
    if (!isAdmin) {
        var div = document.getElementById('admin-header');
        div.style.display = "none";
    }
</script>