<nav class="primaryColor navbar navbar-inverse navbar-fixed-top" style="border:0px">
  <div class="container" style="margin-left: 0px;padding-left: 40px;">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <% if(type && type === 'ctf'){ %>
            <a class="navbar-brand logo" style="color: coral;" href="/ctf/home">Attack My Web</a>
        <% } else{%>
            <a class="navbar-brand logo" style="color: coral;" href="/">Secure Your Web</a>
        <% } %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      
        <ul class='nav navbar-nav navbar-right'>
            <% if(type && type === 'ctf'){ %>
                <% include ./attackHeader %>
            <% } else{%>
                <% include ./secureHeader %>
            <% } %>
            <% if(messages.authenticated){ %>
                <li class="ml50">
                    <a href='/logout'>
                        Logout
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
  </div>
</nav>