<li class="borderLeft">
    <% if(type && type === 'web'){ %>
        <a style="color:white" href='/learn/hacking-web/vulnerability/info'>
            Hacking Web
        </a>
    <% } else{%>
        <a href='/learn/hacking-web/vulnerability/info'>
            Hacking Web
        </a>
    <% } %>
</li>
<li class="borderLeft borderRight">
    <% if(type && type === 'crypto'){ %>
        <a style="color:white" href='/learn/cryptography/vulnerability/info'>
            Cryptography
        </a>
    <% } else{%>
        <a href='/learn/cryptography/vulnerability/info'>
            Cryptography
        </a>
    <% } %>
</li>