<div class='col-md-3'>
    <div class='list-group sidebar'>
        <div class='col-xs-6' style="text-align: center">
            <% if (mode === 1) { %>
                <a style="background-color:#545b6c" href="<%= layersPath %>" class="btn btn-primary"> LAYERS </a>
            <% } else if(mode === 2){%>
                <a href="<%= layersPath %>" class="btn btn-primary"> LAYERS </a>
            <% } %>
        </div>
        <div class='col-xs-6' style="text-align: center">
            <% if (mode === 2) { %>
                <a style="background-color:#545b6c" href="<%= owaspPath %>" class="btn btn-primary"> OWASP </a>
            <% } else if(mode === 1){%>
                <a href="<%= owaspPath %>" class="btn btn-primary"> OWASP </a>
            <% } %>
        </div>
        
        <br><br><br>
        <% if (mode === 1) { %>
            <% include layers %>
        <% } else if(mode === 2){%> 
            <% include owasp %>
        <% } %>
    </div>
</div>