
<table class='table'>
    <tr>
        <th style="text-align: center;">#</th>
        <th>Solve</th>
        <th style="text-align: center;">$$$</th>
        <th style="text-align: center;">Done</th>
        <th style="text-align: center;">Flag</th>
        <th></th>
    </tr>
    <tr>
        <th style="text-align: center;">1</th>
        <td><p>Inpect the code</p></td>
        <td style="text-align: center;"><p>600 €</p></td>
        <td style="text-align: center;"><i style="color:red;" class="fa fa-times"></i></td>
        <td><input /></td>
        <td><button>Check</button></td>
    </tr>
    <tr>
        <th style="text-align: center;">2</th>
        <td><p>A guy asked me to do some fake docs, and make Maria sign them somehow...</p></td>
        <td style="text-align: center;"><p>1.200 €</p></td>
        <td style="text-align: center;"><i style="color:red;" class="fa fa-times"></i></td>
        <td><input /></td>
        <td><button>Check</button></td>
    </tr>
    <tr>
        <th style="text-align: center;">3</th>
        <td><p>Shit John discovered me, maybe there is some way to make him remain silent...</p></td>
        <td style="text-align: center;"><p>2.400 €</p></td>
        <td style="text-align: center;"><i style="color:red;" class="fa fa-times"></i></td>
        <td><input /></td>
        <td><button>Check</button></td>
    </tr>
</table>
    